.team {
  width: 100%;
  height: 6.25rem;
  display: flex;
  /* gap: 20px;
  padding:20px; */
  gap:1.25rem;
  padding: 1.25rem;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.box-1 {
  border: 1px solid transparent;
  /* border-radius: 5rem; */
  border-radius: 50%;
  color: #fff;
  font-family: "Roboto";
  /* font-size: 24.115px; */
  font-size: 1.507rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.688%; /* 23.558px */
  /* letter-spacing: 0.482px; */
  letter-spacing: 0.03rem;
  width:5rem;
  height:4rem;
}

.box-1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
  color: #000;
  font-family: Roboto;
  /* font-size: 20.67px; */
  font-size: 1.292rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* letter-spacing: 0.413px; */
  letter-spacing: 0.026rem;
  width:90%;
  height:100%;
}

.box-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
